.form-wrapper button {
    overflow: visible;
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 83px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;
    background: #0095c4;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    }

    input {
      -moz-border-radius: 3px 0px 0px 3px;
      -webkit-border-radius: 3px 0px 0px 3px;
      border-radius: 3px 0px 0px 3px;
      width:335px;
      height:30px;
      border-width:1px;


    }
.fil li {

  float:left;
}
 ul.fil {
  margin-left: 0px;
    margin-top: 18px;
    margin-bottom: 18px;
    list-style-type: none;
  float:left;
padding:0px;}

ul p{
  margin-left: 0px;
margin-right: 10px;
}
button.filter{
  background-color: white;
border: solid 2px #ccc;
border-radius: 3px 3px 3px 3px;
margin-right: 7px;
}
form.subj{
  float: left;
margin-left: -424px;
margin-top: 48px;
}
button.subj{
  color: #fff;
background: #0095c4;
-moz-border-radius: 0 3px 3px 0;
-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
border: 0px;
}
div.access {
  float:left;
}
div.access p{
  text-align: justify;
}
nav.blog-pagination{
  float: left;
}


article {
  display: none;
  padding-top: 18px;
  padding-left: 0px;  
}
article.active {
  display: block;
  background-color: #fff;
  margin-bottom: 18px;
  margin-top: 18px;
  width: 100%;
margin-left: 0px;
text-align: justify;
}
.tag-container li {
  list-style: none;
  display: inline-block;
}
.tag-container .letter-header {
  display: inline-block;
  padding: 0 1em;
}
.tag-container button {
  background-color: #AAA;
  color: #fff;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border: 0px;
    padding: 1px 6px;
}
.tag-container.show-all button,
.tag-container .active {
  color: #fff;
    background: #0095c4;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border: 0px;
    padding: 1px 6px;
}
.tag-container .selected {
  font-weight: bold;
}
.tag-container{
  clear:left;
}
div.tag-container.show-all{
  /*float:left;*/
/*  margin-left: -100px;*/
}
nav#demo.blog-pagination{
  margin: 0px 62%;
width: 100px;
}
.tag-container .letter-header {
  display: none !important;  /* <!-- modified */
  padding: 0 1em !important;
}
.tag-container button {
    margin: 0 5px !important; }
